# requirements for My Django Project

ipython

Django==4.2.7
django-crispy-forms==1.14.0
django-extensions
django-filter
djangorestframework
djangorestframework-simplejwt
drf-yasg
django-environ
gunicorn
psycopg2-binary

flake8==6.1.0
flake8-builtins==2.2.0
flake8-print==5.0.0

pytest
pytest-django
model-bakery
pytest-cov
pytest-mock


bootstrap4

Celery

requests

beautifulsoup4

pymemcache

flower