# requirements for My Django Project

ipython

Django==4.2.7
django-crispy-forms==1.14.0
django-extensions
django-filter

flake8==6.1.0
flake8-builtins==2.2.0
flake8-print==5.0.0


bootstrap4

Celery

requests

beautifulsoup4