{% extends "base.html" %}
{% block content %}
    <h1>Contact Us List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Contact ID</th>
                <th>Email From</th>
                <th>Subject</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.contact_id }}</td>
                    <td>{{ contact.email_from }}</td>
                    <td>{{ contact.subject }}</td>
                    <td>{{ contact.message }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}