{% extends "base.html" %}
{% block title %}ContactUs{% endblock title %}
{% block content %}
    <h1>Contact Us List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Contact ID</th>
                <th>Email From</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in object_list %}
                <tr>
                    <td>{{ contact.contact_id }}</td>
                    <td>{{ contact.email_from }}</td>
                    <td>{{ contact.subject }}</td>
                    <td>{{ contact.message }}</td>

                    <td>
                        <a href="{% url 'currency:contactus-update' contact.contact_id %}">Edit</a>
                        <a href="{% url 'currency:contactus-delete' contact.contact_id %}">Delete</a>
                        <a href="{% url 'currency:contactus-details' contact.contact_id %}">Detail</a>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}