{% extends "base.html" %}
{% block title %}Rate list{% endblock title %}
{% block content %}
   <div class="row">

            {% include 'includes/filter.html' %}

    </div>

    <h1>Rates</h1>
    <a class="btn btn-primary" href="{% url 'currency:rate-create' %}" role="button">Create rate</a>
    <br>
    <br>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Buy</th>
                <th>Sell</th>
                <th>Created</th>
                <th>Currency</th>
                <th>Source</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            {% for rate in page_obj %}
                <tr>
                    <td>{{ rate.buy }}</td>
                    <td>{{ rate.sell }}</td>
                    <td>{{ rate.created }}</td>
                    <td>{{ rate.get_currency_type_display }}</td>
                    <td>{{ rate.source }}</td>
                    <td>
                        {% if request.user.is_superuser %}
                            <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                               data-toggle="dropdown" aria-expanded="false">
                                Actions
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'currency:rate-update' rate.id %}">Edit</a>
                                <a class="dropdown-item" href="{% url 'currency:rate-delete' rate.id %}">Delete</a>
                                <a class="dropdown-item" href="{% url 'currency:rate-details' rate.id %}">Details</a>

                            </div>
                        {% elif request.user.is_authenticated %}
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                   data-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item"
                                       href="{% url 'currency:rate-details' rate.id %}">Details</a>
                                </div>
                            </div>

                        {% endif %}
                        </div>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-12">
            {% include 'includes/pagination.html' %}
        </div>
    </div>
{% endblock %}