{% extends "base.html" %}

{% block title %} Source list {% endblock title %}

{% block content %}
    <h1>Source list</h1>

    <button><a href="{% url 'currency:source-create' %}">Create Source</a></button>
    <br>
    <br>

        {% for source in object_list %}
            <a>{{ source.source_name }}</a>
            <a href="{% url 'currency:source-update' source.id %}">Edit</a>
            <a href="{% url 'currency:source-delete' source.id %}">Delete</a>
            <a href="{% url 'currency:source-details' source.id %}">Details</a>
            <br>
        {% endfor %}


{% endblock content %}
```