{% extends "base.html" %}

{% block title %} Source list {% endblock title %}

{% block content %}
    <h1>Source list</h1>

        {% for source in sources %}
            <a>{{ source.source_name }}   {{ source.source_url }} </a>
            <a href="/source/update/{{ source.source_id }}/">Edit</a>
            <a href="/source/delete/{{ source.source_id }}/">Delete</a>
            <a href="/source/details/{{ source.source_id }}/">Details</a>

            <br>
        {% endfor %}


{% endblock content %}
```